fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
pymongo
motor
python-multipart
python-dotenv
pydantic
pydantic-settings
langchain
langchain-groq
langchain-community
pinecone
PyPDF2
httpx
bcrypt
